:root {
  /* main color */
    --rgb: 228, 59, 68;
    --main-black: #1C2120;
    --secondary-black: #111411;
    --third-black: #171b19;
    --fourth-black: #1a1f1d;
  }
  html:root {
      --font-display: var(--font-primary);
  }
  
  /* Настройки в окне. */
  :root {
      --width2: 45%;
      --height2: 85%;
  }
  .layers-OrUESM {
    display: flex!important;
      align-items:center;
      justify-content:center;
  }
  .layers-OrUESM > .layer-86YKbF:first-child {
      opacity: 1!important;
      transform: none!important;
  }
  .layers-OrUESM > .layer-86YKbF.stop-animations:first-child {
      z-index: 1;
      transition: 250ms ease-in;
  }
  .layers-OrUESM > .layer-86YKbF:nth-child(2)::before {
      content: "";position: absolute;
      top: calc((120% - var(--height2)) / -1); 
      left: calc((120% - var(--width2)) / -1);
      padding: calc(120% - var(--height2)) calc(100% - var(--width2) + 20%);
      background: black;
      z-index: 2;
      opacity: 0.6;
      width: 100%;
      height: 100%;
      transition: opacity 350ms ease;
  }
  .layers-OrUESM > .layer-86YKbF:nth-child(2) {
      width: var(--width2);
      height: var(--height2);
      top:unset;bottom:unset;
      right:unset;left:unset;
      display: block;
      overflow: visible;
      transform: translateZ(0);
      z-index: 3;
  }
  .layer-86YKbF{
    background-color:transparent;
  }
  .contentRegionScroller-2_GT_N,
  .contentRegion-3HkfJJ,
  .standardSidebarView-E9Pc3j{
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
  }
  .sidebarRegionScroller-FXiQOh{
    border-left:1px solid rgba(var(--rgb),1);
    border-top:1px solid rgba(var(--rgb),1);
    border-bottom:1px solid rgba(var(--rgb),1);
  }
  .sidebarRegionScroller-FXiQOh,
  .sidebarRegion-1VBisG,
  .standardSidebarView-E9Pc3j{
    border-bottom-left-radius:10px;
    border-top-left-radius:10px;
  }
  
  /* Друзья и нитро */
  #app-mount .privateChannels-oVe7HL .channel-1Shao0[href="/channels/@me"], #app-mount .privateChannels-oVe7HL .channel-1Shao0[href="/library"], #app-mount .privateChannels-oVe7HL .channel-1Shao0[href="/store"] {
    width: 46%;
    display: inline-block;
    border-radius: 0;
  }
  #app-mount .privateChannels-oVe7HL .channel-1Shao0[href="/channels/@me"] .avatar-6qzftW, #app-mount .privateChannels-oVe7HL .channel-1Shao0[href="/store"] .avatar-6qzftW{
    display:none;
  }
  .actionButton-3-B2x-:hover{
    background: rgba(var(--rgb),.2);
  }
  /*Кнопки видео и экран*/
  .button-1EGGcP.buttonColor-3bP3fX, .button-1EGGcP .buttonColor-3bP3fX {
    background-color: rgba(var(--rgb),1);
    color: var(--interactive-active);
  }
  .button-1EGGcP.buttonColor-3bP3fX:hover, 
  .button-1EGGcP .buttonColor-3bP3fX:hover{
    background: rgba(var(--rgb), 0.5)!important;
  }
  /* Видео */
  .mediaBarGrabber-FvJKJg{
    background: rgba(var(--rgb), 1)!important;
  }
  /* Аудио */
  .theme-dark .wrapperAudio-1Bzv_Z{
    background: var(--main-black);
  }
  /* Количество людей в руме */
  .total-1c5KCN:after {
    border: none;
  }
  .total-1c5KCN {
    background-color: rgba(var(--rgb),1);
    color: white;
    width: 26px;
    padding: 0 0 0 1px; 
  }
  .users-2JoyGL {
    width: 26px;
  }
  
  /* Spotify Controls */
  #app-mount .container-6sXIoE.withTimeline-824fT_ {
    position: relative;
    margin-bottom: 0;
    padding: 10px 10px 30px;
    border-bottom-color: none;
    background: rgba(var(--rgb), 0.2);
    min-height: unset;
  }
  #app-mount .container-6sXIoE.withTimeline-824fT_ button {
    color: white;
    border-radius: 0px;
  }
  #app-mount .container-6sXIoE.withTimeline-824fT_ button:hover {
    background: rgba(255, 255, 255, 0.1) !important;
    cursor: default;
  }
  #app-mount .container-6sXIoE.withTimeline-824fT_ .inner-WRV6k5 {
    position: relative;
    z-index: 1;
  }
  
  #app-mount .container-6sXIoE.withTimeline-824fT_ .timeline-UWmgAx {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  #app-mount .container-6sXIoE.withTimeline-824fT_ .bar-g2ZMIm {
    height: 100%;
    border-radius: 0;
    margin-bottom: 0;
    cursor: default;
  }
  #app-mount .container-6sXIoE.withTimeline-824fT_ .barFill-Dhkah7 {
    background: rgba(var(--rgb), 0.5);
    border-radius: 0;
  }
  #app-mount .container-6sXIoE.withTimeline-824fT_ .grabber-7sd5f5 {
    display: none;
  }
  #app-mount .container-6sXIoE.withTimeline-824fT_ .song-tIdBpF {
    color: white;
  }
  #app-mount .container-6sXIoE.withTimeline-824fT_ .barText-lmqc5O {
    margin-top: calc(20px / -1);
    padding: 0 10px;
    position: relative;
    z-index: 1;
    pointer-events: none;
  }
  #app-mount .container-6sXIoE.withTimeline-824fT_.maximized-vv2Wr0 {
    padding: 0 8px 30px;
  }
  #app-mount .container-6sXIoE.withTimeline-824fT_.maximized-vv2Wr0 .coverWrapper-YAplwJ {
    border: none;
  }
  
  /* Scroll chat */
  .auto-2K3UW5::-webkit-scrollbar-thumb {
    background-color: rgba(var(--rgb),1);
  }
  .auto-2K3UW5::-webkit-scrollbar-track {
    background-color: transparent;
  }
  /* Chat */
  .theme-dark .placeholder-1_mJY1, 
  .theme-dark .slateTextArea-27tjG0 .hljs-comment, 
  .theme-dark .slateTextArea-27tjG0 .hljs-quote{
    color: #BDB4A1;
  }
  
  .theme-dark .form-3gdLxP,
  .theme-dark .form-3gdLxP:before, 
  .theme-dark .scroller-kQBbkU, 
  .theme-dark .container-ZMc96U.themed-Hp1KC_, 
  .theme-dark .children-3xh0VB:after, 
  .theme-dark .contentRegionScroller-2_GT_N,
  .theme-dark .peopleList-2VBrVI,
  .theme-dark .scroller-29cQFV,
  .theme-dark .friendsEmpty-gs15T1,
  .theme-dark .headerNormal-T_seeN,
  .theme-dark .bodyWrapper-1eSOtW,
  .theme-dark .contentWrapper-pgACZr,
  .theme-dark .footer-31IekZ,
  .theme-dark .messageGroupWrapper-1jf_7C,
  .theme-dark .root-g14mjS,
  .theme-dark .keyboardShortcutsModal-2CRmCm,
  .theme-dark .scroller-1J_F7B,
  .theme-dark .container-2O1UgZ,
  .theme-dark .container-1ILvLB section,
  .theme-dark .perksModal-fSYqOq,
  #permissions-modal-wrapper .header,
  #permissions-modal-wrapper .role-side,
  #permissions-modal-wrapper .perm-side,
  .theme-dark .quickswitcher-pKcM9U,
  .theme-dark .scroller-2qwVWY,
  .theme-dark .container-2McqkF,
  .theme-dark .searchResult-O9NDji,
  .theme-dark .pageWrapper-2PwDoS,
  .theme-dark .container-1ILvLB .header-2C89wJ,
  .theme-dark .list-38_JVu{
    background: var(--main-black);
  }
  .homeIcon-FuNwkv{
    color:white;
  }
  .childWrapper-1j_1ub{
    background: rgba(var(--rgb), 1);
  }
  .circleIconButton-jET_ig, 
  .content-3spvdd,
  .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
  .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG,  
  #bd-settings-sidebar .ui-tab-bar-item.selected, 
  .lookFilled-yCfaCM.colorBrand-I6CyqQ, 
  .lookFilled-yCfaCM.colorGrey-2iAG-B,
  .wrapper-2vIMkT,
  .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_),
  .botTagRegular-kpctgU,
  .botTagInvert-1nKcq_,
  .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, 
  .wrapper-3kah-n:hover .childWrapper-1j_1ub,
  .jumpToPresentBar-1cEnH0,
  .channelName-3w2Y3c,
  .tab-2j5AEF.selected-2LAck8,
  .activeButton-LRWFC_, 
  .activeButton-LRWFC_:hover, 
  .theme-light .activeButton-LRWFC_, 
  .theme-light .activeButton-LRWFC_:hover,
  .barFill-2Bh7CX,
  .colorInfo-1kEg3T,
  .improved-1NJK-y:after,
  .categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG,
  .lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled,
  .selectorButtonSelected-3Z0WNU,
  .selectorButton-3sW6Qm:not(.selectorButtonPremiumRequired-2pGGEj):hover,
  .mediaBarGrabber-FvJKJg, 
  .mediaBarProgress-38I317, 
  .mediaBarProgress-38I317:after, 
  .mediaBarProgress-38I317:before,
  .mediaBarInteraction-37i204:hover .bubble-3XikHF,
  .divider-2rZFJK,
  .notice-12Koq-:active,
  .bd-pfbtn {
    background: rgba(var(--rgb),1)!important;
    color: white;
  }
  .theme-dark .colorDefault-CDqZdO.focused-3qFvc8{
    background: rgba(var(--rgb),0);
    color: var(--interactive-normal);
  }
  /* Алине */
  .theme-dark .wrapper-30-Nkg{
    border-radius:15px;
    background-color: var(--third-black);
  }
  .theme-dark .cozy-VmLDNB.wrapper-30-Nkg {
    padding-left: 72px;
  }
  .theme-dark .message-2CShn3:not(.groupStart-3Mlgv1), .theme-dark .message-2CShn3.compact-2Nkcau {
    margin-top: 3px;
  }
  .theme-dark .cozy-VmLDNB.wrapper-30-Nkg, .theme-dark .compact-2Nkcau.wrapper-30-Nkg {
    margin-left: 76px;
    margin-right: 24px;
    padding: 8px;
    padding-right: 8px !important;
    border: 1px solid transparent;
  }
  .theme-dark .avatar-2e8lTP {
    top: 8;
    left: -48px;
  }
  .theme-dark .cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH {
    left: -70px; 
  }
  .theme-dark .container-2nx-BQ[style*="background-color: rgb(67, 181, 129);"], .allow-1h61-Z.selected-3jieYB {
    background-color: rgba(var(--rgb),1)!important;
  }
  .bd-toast{
    background: rgba(var(--rgb),1);
  }
  .bd-toast.toast-success {
    background-color: rgba(var(--rgb),1);
  }
  .selected-1-Z6gm .layout-1qmrhw{
    border: 1px solid rgba(var(--rgb),1);
    background:rgba(var(--rgb),.1);
  }
  .search-1FM8Qc{
    border: 1px solid rgba(var(--rgb),1);
    border-radius:5px
  }
  .theme-dark .lookFilled-yCfaCM.colorBrand-I6CyqQ:hover, 
  .theme-dark .lookOutlined-3yKVGo.colorWhite-1H92hK{
    background:var(--main-black);
  }
  .button-3bklZh,
  .isUnread-3Lojb- .content-3spvdd{
    color:white;
  }
  .button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx, 
  .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx,
  .button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover{
    background:rgba(var(--rgb),.6);
  }
  .theme-dark .container-x8Y1ix, .lookOutlined-3yKVGo.colorWhite-1H92hK:hover{
    background: var(--third-black);
  }
  .dark-theme .colorStandard-21JIj7,
  .dark-theme .colorHeaderPrimary-jN_yGr,
  .dark-theme .colorHeaderSecondary-g5teka,
  .reactionMe-3I9gFK .reactionCount-1zkLcN,
  .reactionMe-3I9gFK:hover .reactionCount-1zkLcN{
    color: white;
  }
  /* .markup-eYLPri a, .improved-1NJK-y{
    color: rgba(var(--rgb),1);
  } */
  .reaction-2A2y9y.reactionMe-3I9gFK{
    background:rgba(var(--rgb),.5);
  }
  
  .theme-dark .folder-21wGz3.wrapper-1Rf91z.childWrapper-1j_1ub {
    background: var(--main-black)!important;
  }
  .repliedMessage-3Z6XBG:before{
    right:100.5%;
    border-color: rgba(var(--rgb),1)!important;
  }
  .selected-1-Z6gm .layout-1qmrhw .activity-2EQDZv{
    color:white;
  }
  .messageContainer-3VTXBC{
    border-radius: 0 0 10px 10px;
  }
  .channelHeader-DFRX8q{
    border-radius: 10px 10px 0 0;
  }
  .channelName-3w2Y3c{
    text-align: center;
    border-radius: 10px;
  }
  .theme-dark .option-2KkUJO:after,
  .theme-dark .option-2KkUJO.selected-rZcOL-:after {
    background: none;
  }
  .closeButton-3CiW2j{
    margin-right:12px;
  }
  .theme-dark .autocompleteScroller-3L6kmy{
    height:500px;
    background: var(--main-black)!important;
  }
  .wrapper-1ZcZW-{
    border-radius: 5px;
  }
  .container-1zzFcN{
    border-bottom:none;
  }
  /* Говорящий в войсах */
  .avatarSpeaking-2pCGrZ {
    box-shadow: 0 0 13px 3px rgba(var(--rgb),1)!important;
  }
  .border-2BJQjd.speaking-7QZEkv{
    -webkit-box-shadow: inset 0 0 0 2px rgba(var(--rgb),1),inset 0 0 0 3px #000;
    box-shadow: inset 0 0 0 2px rgba(var(--rgb),1),inset 0 0 0 3px #000!important;
  }
  /* ЛС */
  .border-2BJQjd.speaking-3RWJBr{
      -webkit-box-shadow:inset 0 0 0 2px rgba(var(--rgb),1),inset 0 0 0 3px #000!important;
      box-shadow:inset 0 0 0 2px rgba(var(--rgb),1),inset 0 0 0 3px #000!important;
    }
  /* Говорящий на фул */
  .border-2Vy6FN.speaking-7QZEkv{
    -webkit-box-shadow: inset 0 0 0 2px rgba(var(--rgb),1), inset 0 0 0 3px #000;
    box-shadow: inset 0 0 20px 2px rgba(var(--rgb),1), inset 0 0 0 3px #000!important;
  }
  
  .scrollableContainer-15eg7h{
    border: 1px solid rgba(var(--rgb),1);
  }
  .container-1oeRFJ:hover, 
  .content-1gYQeQ:hover,
  .item-1OdjEX:hover {
    background:rgba(var(--rgb),.2)!important;
    color: white!important;
  }
  .colorDefault-CDqZdO .checkbox-hADx5o, .colorDefault-CDqZdO .radioSelection-1UHp0b{
    color: rgba(var(--rgb),1);
  }
  .listDefault-2F-w65 .clickable-1ctZ-H:hover .content-1Tgc42  {
    background:rgba(var(--rgb),.1);
  }
  .message-2CShn3:hover{
    background:rgba(var(--rgb),.05)!important;
  }
  ::selection{
      background-color: rgba(var(--rgb),.5)!important;
      color:white;
  }
  .membersGroup-2eiWxl{
    position: relative;
    z-index: 2;
    padding: 19px 8px 5px 16px;
    text-align: center;
    letter-spacing: 1px;
    color: #e6e6e6;
    border-bottom-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right,transparent,rgba(var(--rgb),1),rgba(var(--rgb),1),transparent) 1;
  }
  .membersGroup-2eiWxl::before {
    left: 0;
    box-shadow: 80px 50px 30px 0 rgba(var(--rgb),1);
  }
  .membersGroup-2eiWxl::after {
    right: 0;
    box-shadow: -80px 50px 30px 0 rgba(var(--rgb),1);
  }
  .membersGroup-2eiWxl::after, .membersGroup-2eiWxl::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    background-color: transparent;
    z-index: -1;
  }
  .bodyTitle-Y0qMQz{
    position: relative;
    z-index: 0;
    padding: 5px 8px 5px 16px;
    text-align: center;
    letter-spacing: 1px;
    color: #e6e6e6;
    border-bottom-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right,transparent,rgba(var(--rgb),1),rgba(var(--rgb),1),transparent) 1;
  }
  .attachButton-_ACFSu{
    padding: 10px 10px;
  }
  /* Профиль */
  .theme-dark .body-3iLsc4, 
  .theme-dark .footer-1fjuF6 { 
    background: var(--main-black)!important;
  }
  /* Крупный профиль */
  .connectedAccount-36nQx7{
    border-color: rgba(var(--rgb), 1);
  }
  .userInfoSection-2acyCx+.userInfoSection-2acyCx{
    border-top: 1px solid rgba(var(--rgb), 1);
  }
  .tabBarContainer-1s1u-z{
    border-top:none;
  }
  .top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG, 
  .top-K_jibn .themed-2-lozF.item-3XjbnG:active,
  .top-K_jibn .themed-2-lozF.item-3XjbnG:hover{
    border-bottom-color: rgba(var(--rgb), 1);
  }
  .body-3ND3kc{
      background: var(--main-black);
  }
  .topSectionNormal-2-vo2m{
      background: var(--third-black)
  }
  /* Ошибки BD */
  .dark-theme .bd-modal-wrapper .footer button{
    background: rgba(var(--rgb), 1);
    color:white;
  }
  .dark-theme .bd-modal-wrapper .footer button:hover{
    background: rgba(var(--rgb), .5);
    color:white;
  }
  .bd-modal-wrapper .bd-modal-body{
    background: var(--main-black);
  }
  .bd-modal-wrapper .header{
    background: var(--third-black);
  }
  .bd-modal-wrapper .tab-bar-container{
    background: var(--third-black);
  }
  /* Меню плагинов */
  .bd-pfbtn:hover{
    background: rgba(var(--rgb), .5);
  }
  /* Выбор языка */
  .radioIconForeground-2BMavi{
    color:rgba(var(--rgb),1)!important;
  }
  /* Хуйня справа в списке */
  .icon-Lupfh-{
    display:none;
  }
  /* Войс */
  .modeConnected-NrO4cP .content-1gYQeQ:before{
    content: "";
    position: absolute;
    left: -3px;
    top: 0;
    height: 100%;
    width: 20px;
    border-radius: 4px 0 0 4px;
    background: linear-gradient(to right,rgba(var(--rgb),1),rgba(var(--rgb),.1));
    -webkit-mask: linear-gradient(to right,#000,rgba(var(--rgb),.1));
    opacity: .7;
  }
  .listDefault-2F-w65 .clickable-1ctZ-H.selected-1oxcpH .content-1Tgc42{
    background:rgba(var(--rgb), .4);
  }
  .searchBar-3TnChZ .searchBarComponent-3N7dCG{
    border:1px solid rgba(var(--rgb), 1);
  }
  /* Метка непрочитанного */
  .unreadPill-3nEWYM {
    border-radius: 0;
    color: #fff;
    background-color: rgba(var(--rgb),1)!important;
  }
  .unreadPillCapStroke-1nE1Q8 {
    color: rgba(var(--rgb),1)!important;
    fill: rgba(var(--rgb),1)!important;
  }
  .isUnread-3Lojb- {
    border-color: rgba(var(--rgb),1)!important;
  }
  /* Оверлей-настройки */
  .wrapper-SdcMKg{
    border: 1px solid rgba(var(--rgb), 1);
  }
  .selected-18Wszc.option-1QI4c9{
    background-color: rgba(var(--rgb), 1);
    border-color: 1px solid rgba(var(--rgb), 1);
  }
  .topRight-wM_dsL:hover,.bottomLeft-1GrX76:hover,.bottomRight-2N4MaX:hover{
    background-color: rgba(var(--rgb), .7);
  }
  /* Custom CSS */
  .checkbox-1ycfTw .checkboxInner-1aRh1d .checkboxElement-uwAa9F:checked+span{
    background-color: rgba(var(--rgb), 1);
    border-color:rgba(var(--rgb), 1);
  }
  /* Настройки */
  .side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP), .topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP),.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover{
    background: rgba(var(--rgb), .2);
  }
  .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG:hover,.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected:hover{
    background: rgba(var(--rgb), 1)!important;
  }
  
  /* Кнопка закрытия */
  .winButtonClose-3Q8ZH5{
    background: #C2210C;
    color:white;
  }
  .channelTabs-favContainer{
    margin-top: 6px;
  }
  
  .withFrame-2dL45i{
    border-top: 4px solid;
    margin-top: 0;
  }
  .theme-dark .panels-3wFtMD, 
  .theme-dark .scrollableContainer-15eg7h, 
  .theme-dark .searchBar-zdmu7v, 
  .theme-dark .scroller-2TZvBN, 
  .theme-dark #channelTabs-container, 
  .theme-dark .titleBar-1it3bQ, 
  .theme-dark .sidebarRegionScroller-FXiQOh, 
  .theme-dark .fieldList-in8WkP,
  .theme-dark .wrapper-1NNaWG,
  .theme-dark .header-11eigE,
  .theme-dark .contentWrapper-3vHNP2,
  .theme-dark .inspector-DFKXwB,
  .theme-dark .unicodeShortcut-3N8oDe,
  .theme-dark .bd-addon-list .bd-addon-card,
  .theme-dark .messagesPopout-eVzQcI,
  .theme-dark .headerClickable-2IVFo9, 
  .theme-dark .headerDefault-1wrJcN,
  .theme-dark .input-2z42oC,
  .theme-dark .scroller-3iiyhZ,
  .theme-dark .grid-1aWVsE,
  .theme-dark .wrapper-1HIH0j,
  .theme-dark .invite-3uuHYQ,
  .theme-dark .item-4m-12I {
    background: var(--third-black);
  }
  .theme-dark .container-1NXEtd, 
  .theme-dark .header-3OsQeK, 
  .theme-dark .members-3WRCEx, 
  .theme-dark .members-3WRCEx>div, 
  .theme-dark .scroller-WSmht3, 
  .theme-dark .searchBar-3TnChZ, 
  .theme-dark .background-3d_SjE, 
  .theme-dark .nowPlayingColumn-1eCBCN,
  .theme-dark .scroller-3_YDR2,
  .theme-dark .sidebar-1tnWFu,
  .theme-dark .titleContainer-3fPic2,
  .theme-dark .list-1AJFv_{
    background: var(--fourth-black);
  }
  .embedFull-1HGV2S, .wrapper-1HIH0j, .theme-dark .invite-3uuHYQ, .input-2g-os5.focused-1AtTHC, .input-2g-os5:focus{
    border: 1px solid rgba(var(--rgb),1);
  }
  /* Better Formatting */
  .bf-toolbar::before{
    background: rgba(var(--rgb),.8)!important;
  }
  .bf-toolbar .format > img{
    color:white;
  }
  /* Уведомление */
   .unread-2wipsx {
    background: rgba(var(--rgb), .8);
  } 
  /* Аватарка */
  .avatarWrapper-3H_478 .wrapper-1VLyxH{
    width:200px!important;
    height:200px!important;
  }
  .avatarHint-1qgaV3{
    width:200px!important;
    height:200px!important;
  }
  .root-SR8cQa, 
  .userPopout-3XzG_A, 
  .menu-1QACrS ,
  .drawerSizingWrapper-1txdWG, 
  .messagesPopoutWrap-3zryHW,
  .container-2O1UgZ,
  .container-1ILvLB{
    border:1px solid rgba(var(--rgb), 1);
    border-radius: 10px!important;
  }
  /* Подключение */
  .container-1ILvLB .header-2C89wJ{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
  }
  .container-1ILvLB section{
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
  }
  .userPopout-3XzG_A {
    border-radius: 10px;
  }
  .bodyTitle-Y0qMQz, .textarea-_59yqs{
    text-align: center;
  }
  .textarea-_59yqs{
    max-height:200px;
  }
  .activity-11LB_k{
    background-color: transparent;
  }
  .input-2z42oC{
    border: 1px solid rgba(var(--rgb),1)!important;
  }
  /* Упоминание */
  .mentioned-Tre-dv:before {
    background-color: transparent;
  }
  .mentioned-Tre-dv, 
  .message-2CShn3.mentioned-Tre-dv.selected-2LX7Jy, 
  .mouse-mode.full-motion .mentioned-Tre-dv:hover {
    border: 1px solid rgba(var(--rgb),1)!important;
    background:rgba(var(--rgb),.1)!important;
  }
  /* Демка */
  .tile-38DNjt:hover .sourceThumbnail-3n4cjJ{
    box-shadow: inset 0 0 0 2px rgba(var(--rgb), 1);
  }
  .sourceThumbnail-3n4cjJ.selected-2BhCFl{
    box-shadow: inset 0 0 0 2px rgba(var(--rgb), 1);
  }
  /* Настройка войса */
  .theme-dark .sidebarScrollable-2mW9Ls .scroller-3_YDR2{
    background:var(--main-black)!important;
  }
  /* Ответить */
  .colorBrand-21Le_q{
    color: rgba(var(--rgb), 1);
  }
  .container-A2jo65{
    border-left: 1px solid rgba(var(--rgb),1)!important;
    border-top: 1px solid rgba(var(--rgb),1)!important;
    border-right: 1px solid rgba(var(--rgb),1)!important;
    background:rgba(var(--rgb),.2);
  }
  .replying-eZ7p5z:before{
    left:-70px;
    background: rgba(var(--rgb), 1);
  }
  /* Подсказки */
  .tooltipRight-2TSb42{
    border-left:2px solid rgba(var(--rgb), 1);
  }
  .tooltipLeft-3H43DQ{
    border-right:2px solid rgba(var(--rgb), 1);
  }
  .tooltipTop-1wv5UJ{
    border-bottom:2px solid rgba(var(--rgb), 1);
  }
  .tooltipBottom-2WzfVx{
    border-top:2px solid rgba(var(--rgb), 1);
  }
  .tooltipRight-2TSb42 .tooltipPointer-3L49xb{
    margin-right:2px;
  }
  .tooltipLeft-3H43DQ .tooltipPointer-3L49xb{
    margin-left:2px;
  }
  .tooltipTop-1wv5UJ .tooltipPointer-3L49xb{
    margin-top:2px;
  }
  .tooltipBottom-2WzfVx .tooltipPointer-3L49xb{
    margin-bottom:2px;
  }
  .theme-dark .tooltip-14MtrL{
    border-radius:10px;
    background: black;
  }
  .tooltipPointer-3L49xb{
    border-top-color:rgba(var(--rgb), 1)!important;
  }
  /* Новые сообщения */
  .newMessagesBar-1hF-9G{
    background-color: rgba(var(--rgb), 1);
  }
  /* Почта */ 
  .message-372Ods, .message-3g3FYR{
    overflow:visible;
  }
  .jumpButton-1V_1FA{
    background: rgba(var(--rgb),1);
    color: white !important;
  }
  .jumpButton-1V_1FA .text-2ifC_x,
  .jumpButton-1V_1FA .text-2ifC_x:hover,
  .jumpButton-1V_1FA .text-2ifC_x:active{
    color: white !important;
  }
  .theme-dark .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy{
    background: rgba(var(--rgb), 1);
  }
  .theme-dark .scroller-145h9c{
    background: var(--fourth-black);
  }
  .channelHeader-DFRX8q{
    background: rgba(var(--rgb),.2)!important;
  }
  .guildIcon-IklRcj{
    right:-8px;
  }
  .collapseButton-39-IRc{
    left:0;
  }
  .markReadButton-28SmPf{
    margin-left: 6px;
  }
  .size32-1NLMUP{
    margin-right: 6px;
  }
  .markReadButton-28SmPf:hover,
  .button-1_oXub:hover{
    background: rgba(var(--rgb), .2)!important;
  }
  .recentMentionsPopout-2bI1ZN,.messagesPopoutWrap-3zryHW {
    width: 35vw;
    max-width: 700px;
    min-width: 600px;
    max-height: 80vh;
  }
  /* .imageWrapper-oMkQl4 img */
  .message-372Ods, .message-3g3FYR {
    overflow: visible;
  }
  .messagesPopout-eVzQcI .cozy-VmLDNB.wrapper-30-Nkg,
  .recentMentionsPopout-2bI1ZN .cozy-VmLDNB.wrapper-30-Nkg{
    left:11px;
    margin-left:40px!important;
    margin-right:0px!important;
  }
  .container-2ebMPP{
    border:1px solid rgba(var(--rgb),1)!important;
    border-radius: 10px;
  }
  .recentMentionsPopout-2bI1ZN{
    max-height: 1100px !important;;
  }
  /* Роли измен. */
  .theme-dark .scroller-39BnzZ,
  .theme-dark .scroller-14hecM,
  .theme-dark .sidebar-3K3Z4C,
  .theme-dark .header-JUTO-g{
      background:var(--main-black);
  }
  .top-K_jibn .brand-3g5E0C.item-3XjbnG:active, 
  .top-K_jibn .brand-3g5E0C.selected-g-kMVV.item-3XjbnG{
      border-bottom-color:rgba(var(--rgb),1);
  }
  .top-K_jibn .brand-3g5E0C.item-3XjbnG:hover{
      border-bottom-color:rgba(var(--rgb),.7);
  }
  .previewContainer-1xQAsw .markup-eYLPri{
      color:white;
  }
  .roleDot-2a4Pv7{
      width:20px;
      height:20px;
      border:transparent;
  }
  .contentContainer-3hXFtK{
      border-right:1px solid rgba(var(--rgb),1);
      border-top:1px solid rgba(var(--rgb),1);
      border-bottom:1px solid rgba(var(--rgb),1);
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }
    .sidebar-3K3Z4C{
      border-top:1px solid rgba(var(--rgb),1);
      border-bottom:1px solid rgba(var(--rgb),1);
      border-right:0px;
    }
    .container-3JOVER,
    .list-38_JVu{
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }
  /* Закрепы */ 
  .messageGroupWrapper-1jf_7C .cozy-VmLDNB.wrapper-30-Nkg{
    margin-left: 55px;
  }
  .messagesPopoutWrap-3zryHW{
    max-height: 900px!important;
  }
  .jumpButton-1ZwI_j{
    background: rgba(var(--rgb), 1);
    left:5px;
    color:white!important;
  }
  /* Поиск */
  .theme-dark .tab-2j5AEF.selected-2LAck8{
    background: rgba(var(--rgb), 1);
  }
  .tab-2j5AEF:hover{
    background: rgba(var(--rgb), .2);
  }
  .pageButton-1GMGeJ:hover{
    background: rgba(var(--rgb), .2);
  }
  /* Чаты */
  /*.actionIcon-2sw4Sl{
    color:rgba(var(--rgb), 1);
  }*/
  .modeSelected-3DmyhH .content-1gYQeQ{
    background:rgba(var(--rgb), 0.2);
  }
  .selected-29KTGM .icon-2xnN2Y{
    color:rgba(var(--rgb), 1);
  }
  .content-1gYQeQ:active{
    background:rgba(var(--rgb), 0.2);
  }
  .unread-36eUEm {
    position: absolute;
    height: 28px;
    width: 4px;
    border-radius: 4px 0 0 4px ; 
    top: 50%;
    left: 3px;
    margin-top: -14px;
    display:none;
  }
  .unread-36eUEm {
    background-color: var(--interactive-active);
  }
  .modeUnread-3Cxepe .content-1gYQeQ:before{
    content: "";
    position: absolute;
    left: -3px;
    top: 0;
    height: 100%;
    width: 50%;
    border-radius: 4px 0 0 4px;
    background: linear-gradient(to right,rgba(var(--rgb),1),rgba(var(--rgb),.1));
    -webkit-mask: linear-gradient(to right,#000,rgba(var(--rgb),.1));
    opacity: .7;
  }
  /* .modeSelected-3DmyhH .mainContent-20q_Hp:before{
    border: 1px solid var(--main-green);
    border-left: 0px;
    background:rgba(29,185,84,0.1);
    border-radius: 5px;
  } */
  .modeSelected-3DmyhH .content-1gYQeQ:before {
    content: "";
    position: absolute;
    left: -3px;
    height: 100%;
    width: 100%;
    border-radius: 4px 0 0 4px;
    background: linear-gradient(to right,rgba(var(--rgb),1),rgba(var(--rgb),.1));
    -webkit-mask: linear-gradient(to right,#000,rgba(var(--rgb),.1));
    z-index: 0;
  }
  /* .message-2CShn3:hover{
    background: rgba(0,0,0,0.2);
  } */
  /* Знак дискорда */
  .wordmarkWindows-2dq6rw{
    color: rgba(var(--rgb), 1)!important;
  }
  /* Роли */
  .roleCircle-1EgnFN::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    opacity: 0.3;
    z-index: -1;
    pointer-events: none;
  }
  .rolesList-22qj2L .role-2TIOKu {
    overflow: hidden;
    font-size:12px;
  }
  .role-2TIOKu {
    border-radius:25px;
    position: relative;
    z-index: 0;
    border: none;
    padding: 5px;
  }
  .addButton-1_dZYu{
    border: 1px solid;
    border-color: white;
  }
  .addButton-1_dZYu:hover{
    border-color: rgba(var(--rgb),.7)!important;
    color:rgba(var(--rgb),.7)!important;
  }
  .liveSmall-1Urjcy.base-3IDx3L{
    background:rgba(var(--rgb), 1)!important;
  }
  /* Channel Tabs */
  .channelTabs-unreadBadge{
    background: rgba(var(--rgb), 1)!important;
    color: white!important;
  }
  .channelTabs-fav:hover{
    background: rgba(var(--rgb),.2)!important;
  }
  /* Voice Counter */
  .voiceCounter {
    color: rgba(var(--rgb), 1)!important;
  }
  /* Кнопка закрытия */
  .theme-dark .closeButton-PCZcma:hover{
    border-color:rgba(var(--rgb), 1);
    background-color: transparent;
  }
  .theme-dark .closeButton-PCZcma:hover path{
    fill:rgba(var(--rgb), 1);
  }
  
  /* Сервера */
  .expandedFolderBackground-1cujaW,.expandedFolderIconWrapper-Huv7rA{
    background: rgba(var(--rgb), 0.2);
  }
  .item-2LIpTv{
    background: rgba(var(--rgb), 1);
  }
  .theme-dark .scroller-3X7KbA{
    background: var(--third-black);
  }
  .circleIconButton-1QV--U.selected-1JjBPm{
    background: rgba(var(--rgb), 1);
  }
  .theme-dark .listItemTooltip-1JmWJ7{
    background: var(--third-black)!important;
  }
  /* Журнал аудита */
  .selectedBrand-1AtwYE{
    background: rgba(var(--rgb), 1);
    color:white;
  }
  .item-1BCeuB:hover{
    background: rgba(var(--rgb), .2);
  }
  /* Иконки у поиска */
  .strikethrough-3Wiitd{
    color:rgba(var(--rgb), 1);
  }
  .icon-2xnN2Y:hover{
    color:rgba(var(--rgb), .4)!important;
  }
  /* Настройки беттера */
  /* Checkbox */
  .bd-switch input:checked+.bd-switch-body{
      background:rgba(var(--rgb),1);
  }
  .bd-addon-views .bd-view-button.selected{
    background-color:rgba(var(--rgb), 1)!important;
  }
  .bd-controls>.bd-addon-button,
  .bd-button-title{
    background: rgba(var(--rgb), 1);
  }
  .bd-button.bd-button-danger {
    background-color: #f04747!important;
  }
  .bd-controls>.bd-addon-button:hover{
    background: rgba(var(--rgb), .5)!important;
  }
  .bd-addon-list .bd-card-footer button{
    background: rgba(var(--rgb), 1)!important;
    color:white;
  }
  .selectedIcon-19TbzU{
    color:rgba(var(--rgb), 1);
  }
  /* Окно гифки */
  .navButtonActive-1EqC5l{
    background: rgba(var(--rgb), 1);
  }
  /* Отправка файла */
  .theme-dark .uploadModal-2ie9O_{
    background-color: var(--main-black);
  }
  .theme-dark .footer-VCsJQY{
    background-color: var(--third-black);
  }
  .lookFilled-yCfaCM.colorBrand-I6CyqQ:hover{
    background: rgba(var(--rgb), .4);
  }
  .theme-dark .checkbox-f1HnKB{
    background-color: transparent!important;
    border-color: rgba(var(--rgb), 1)!important;
  }
  .theme-dark .checkbox-f1HnKB.checked-1pZh2h path{
    fill:rgba(var(--rgb), 1)!important;
  }
  .deny-1GO6vI.selected-3jieYB{
      background-color: #f04747!important;
      color: #fff;
  }
  .bd-button-title:hover{
    background: rgba(var(--rgb), .4);
  }
  .hasBanner-2IrYih .header-3OsQeK, 
  .hasBanner-2IrYih .header-3OsQeK:hover{
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent!important;
  }
  /* Тест */
  .footer-GXWBBp{
      background:rgba(var(--rgb),.3);
      color:white;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
  }
  .formattedSize-1YbZww{
      color:white;
  }
  .textContainer-36wgKK,
  .markup-eYLPri code{
      background:var(--secondary-black);
  }
  .markup-eYLPri code{
      border:1px solid rgba(var(--rgb),1);
  }
  .container-rr3Ruk{
      border:1px solid rgba(var(--rgb),1);
      border-radius:10px;
  }
  .textContainer-36wgKK{
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
  }
  .bd-addon-list .bd-addon-header{
      background:rgba(var(--rgb),.4);
  }
  .quickswitcher-pKcM9U{
      border:1px solid rgba(var(--rgb),1);
  }
  .theme-dark .item-2idW98[aria-checked=true]{
      background:var(--third-black);
      border:1px solid rgba(var(--rgb),1);
  }
  .colorable-3rVGna.primaryDark-2UJt1G{
      background:rgba(var(--rgb),.2);
  }
  .colorable-3rVGna.primaryDark-2UJt1G:hover{
      background:rgba(var(--rgb),.5);
  }
  .theme-dark .wrapper-1gVUIN.minimum-fXpVNc{
      background:var(--secondary-black);
  }
  .theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo{
      background:rgba(var(--rgb),1);
      color:white;
  }
  .theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover{
      background:rgba(var(--rgb),.5);
      color:white;
  }
  .theme-dark .detailsBlock-FoDTGA{
      background:var(--third-black);
  }
  .theme-dark .messages-23can0, .theme-dark .messageContainer-3VTXBC{
      background:var(--secondary-black);
  }
  .recentMentionsPopout-2bI1ZN .cozy-VmLDNB.wrapper-30-Nkg{
      margin-bottom:5px;
  }
  .theme-dark .header-1w9Q93{
      background: var(--third-black);
  }
  .emojiItemMedium-2stgkv:hover{
      background:rgba(var(--rgb),.3)!important;
  }
  #bd-pub-button{
      background: rgba(var(--rgb),1);
      color:white;
  }
  #bd-pub-button:hover{
      background: rgba(var(--rgb),.7)!important;
      color:white;
  }
  .theme-dark .barBackground-unEPDT,
  .theme-dark .tierMarkerBackground-G8FoN4{
      background:var(--secondary-black);
  }
  .theme-dark .giftIcon-ZxlWk5{
      color:white;
  }
  
  .theme-light .wrapper-30-Nkg{
    border-radius:15px;
    background-color: #C9DEAD;
  }
  
  .theme-light .cozy-VmLDNB.wrapper-30-Nkg {
    padding-left: 72px;
  }
  .theme-light .message-2CShn3:not(.groupStart-3Mlgv1), .theme-dark .message-2CShn3.compact-2Nkcau {
    margin-top: 3px;
  }
  .theme-light .cozy-VmLDNB.wrapper-30-Nkg, .theme-dark .compact-2Nkcau.wrapper-30-Nkg {
    margin-left: 76px;
    margin-right: 24px;
    padding: 8px;
    padding-right: 8px !important;
    border: 1px solid transparent;
  }
  .theme-light .avatar-2e8lTP {
    top: 8;
    left: -48px;
  }
  .theme-light .cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH {
    left: -70px; 
  }
  .theme-dark .autocomplete-3NRXG8{
      background: var(--third-black);
  }
  .theme-dark .selected-3H3-RC{
      background: rgba(var(--rgb),.5);
  }
  .primary-38Hs-h:hover:not(.disabled-184-il), 
  .secondary-2bzKEX{
      background: rgba(var(--rgb),1);
      color:white;
  }
  .tertiary-1e-lAP{
      background: rgba(var(--rgb),1);
      color:white;
  }
  .theme-dark.container-nwU-8G{
      background: var(--main-black);
  }
  .theme-dark .footer-5ji8u1{
      background: var(--third-black)!important;
  }
  .bd-switch-body{
      background: var(--secondary-black);
  }
  .bd-switch input:checked+.bd-switch-body{
      --switch-color:var(--secondary-black);
  }
  .bd-switch-body{
      --switch-color:var(--secondary-black);
  }
  .item-2idW98,
  .container-2nx-BQ{
      background:var(--secondary-black)!important;
  }
  .slider-32CRPX path{
      fill:black;
  }
  .theme-dark .userSettingsVoice-1_dzjw .previewOverlay-2reuWf{
      background: var(--third-black);
  }
  .cardPrimary-3qRT__, 
  .cardPrimaryEditable-2mz_3i,
  .cardPrimaryOutline-1ofwVz,
  .accountList-305sx3,
  .connectionOptionsWrapper-1ipqUo {
      background:var(--third-black);
  }
  .connectionHeader-2rV1ze{
      background: rgba(var(--rgb),.5);
  }
  .connectionDelete-XXTMqE{
      color:white;
  }
  .accountBtn-1YkMgV .accountBtnInner-3XK70s{
      background-color:var(--secondary-black);
  }
  .noIcon-3gSX9V{
      background: rgba(var(--rgb),.7);
      color:white!important;
  }
  .cardWrapper-CyvwQv{
      background:var(--secondary-black);
  }
  .theme-dark .bottomDivider-ZmTm-j{
      background: var(--third-black);
  }
  .theme-dark .expandedInfo-1W31i3{
      background: var(--main-black);
  }
  .pageActions-1crTQL{
      background: var(--third-black);
  }
  .theme-dark .codeRedemptionRedirect-3SBiCp{
      background: var(--main-black);
  }
  .theme-dark .summaryInfo-3hcuop:hover{
      background: rgba(var(--rgb),.2);
  }
  .hoverablePayment-lE1s4t{
      border-color:rgba(var(--rgb),1)!important;
  }
  .pageIndicator-cOEPV8{
      border-color:rgba(var(--rgb),.5);
  }
  .pageButtonNext-2_bbdk, .pageButtonPrev-3q9rh8{
      border-color:rgba(var(--rgb),1);
      color:rgba(var(--rgb),1);
  }
  .pageButtonNext-2_bbdk:hover, .pageButtonPrev-3q9rh8:hover{
      border-color:rgba(var(--rgb),1);
      color:rgba(var(--rgb),1);
  }
  .pageButtonNext-2_bbdk.disabled-29cfPA, .pageButtonPrev-3q9rh8.disabled-29cfPA{
      border-color:rgba(var(--rgb),.5);
      color:rgba(var(--rgb),.5);
  }
  .theme-dark .bar-1Bhnl9{
      background: var(--secondary-black);
  }
  .cardPrimaryOutline-1ofwVz.preview-rua1rr{
      background: var(--main-black)!important;
  }
  .theme-dark .descriptionBox-1EKQKL{
      background: var(--third-black);
  }
  .theme-dark .featureCard-1RR4Tl{
      background:var(--third-black);
  }
  .theme-dark .pendingBar-1vOJ9X{
      background:var(--secondary-black);
  }
  .theme-dark .enableContainer-1J91Aq{
      background:var(--third-black);
  }
  .theme-dark .settingsFormItem-25zW3t{
      background:var(--third-black);
  }
  .theme-dark .settingsFormFieldWrapper-U99c9i{
      background:var(--main-black);
  }
  .theme-dark .previewContainer-1SS3uO{
      background:var(--third-black);
  }
  .theme-dark .welcomeChannel-1rFrIO{
      background:var(--secondary-black);
  }
  .theme-dark .tierBody-x9kBBp{
      background:var(--third-black);
  }
  .theme-dark .exampleModal-2X2Vf8{
      background:var(--third-black);
  }
  .theme-dark .optionContainer-1FtykV{
      background:var(--secondary-black);
  }
  .small-23Atuv{
      border:1px solid rgba(var(--rgb),1);
      border-radius:15px;
  }
  .footer-31IekZ{
      border-radius:0 0 15px 15px;
  }
  .theme-dark .content-pHpkq8{
      background: var(--main-black);
  }
  .theme-dark .guildSidebar-pjuGkm{
      background: var(--third-black);
  }
  .theme-dark .footer-11k_3m{
      background: var(--main-black);
  }
  .theme-dark .formFieldWrapper-2LV3S6{
      background: var(--third-black);
  }
  .fakeButton-3RWbMY{
      background: rgba(var(--rgb),1);
  }
  .theme-dark .exampleModal-1lRfuE{
      background: var(--main-black);
  }
  .theme-dark .container-2w0lh0,
  .theme-dark .checklistContainer-mFJZEJ{
      background: var(--third-black);
  }
  .theme-dark .header-2Y0-A-,
  .theme-dark .checklistHeader-1KWcEY{
      background: var(--secondary-black);
  }
  .theme-dark .developerPortalCtaWrapper-2XNafh{
      background: var(--third-black);
  }
  .theme-dark .upsellContainer-L9xv7w{
      background: var(--third-black);
  }
  .theme-dark .upsellFooter-ZYsio_{
      background: var(--secondary-black);
  }
  .theme-dark .headerExpanded-CUEwZ5{
      background: var(--third-black);
  }
  .theme-dark .changeDetails-bk98pu{
      background: var(--secondary-black);
  }
  .theme-dark .lookOutlined-3yKVGo.colorPrimary-2AuQVo{
      border-color:rgba(var(--rgb),1);
  }
  .theme-dark .card-2ART2V:before{
      background: var(--third-black);
      border-color:rgba(var(--rgb),1);
  }
  .theme-dark .default-1Tkeeg{
      background-color: var(--secondary-black);
  }
  .theme-dark .default-1Tkeeg:hover{
      background-color: var(--third-black);
  }
  .theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse{
      background-color: var(--secondary-black);
  }
  .theme-dark .prefixInput-w72mM6.focused-2JC6KT{
      border-color:rgba(var(--rgb),1);
  }
  .theme-dark .css-3vaxre-menu{
      background-color: var(--third-black);
  }
  .theme-dark .menu-1QACrS{
      background-color: var(--third-black);
  }
  #permissions-modal-wrapper .header{
      background-color: var(--secondary-black)!important;
  }
  #permissions-modal-wrapper .role-side{
      background-color: var(--third-black)!important;
  }
  #permissions-modal-wrapper .perm-side{
      background-color: var(--main-black)!important;
  }
  #permissions-modal-wrapper .role-item.selected{
      background-color: rgba(var(--rgb),.2)!important;
  }
  #permissions-modal-wrapper .role-item:hover{
      background-color: rgba(var(--rgb),.1)!important;
  }
  .theme-dark .settingCard-xZSDjS.active-3EK-ed{
      background: var(--secondary-black);
  }
  .theme-dark .cardFolder-3H4uH4{
      background: var(--third-black);
  }
  .addMemberRow-KVhQFf:hover,
  .addMemberRow-KVhQFf.selectedRow-1SAgVL{
      background: rgba(var(--rgb),.1);
  }
  .contentRegion-3HkfJJ{
      border-top:1px solid rgba(var(--rgb),1);
      border-bottom:1px solid rgba(var(--rgb),1);
      border-right:1px solid rgba(var(--rgb),1);
  }
  .theme-dark .quickSelectPopout-2F0PXw{
      background: var(--third-black);
  }
  .quickSelectPopoutOption-2E2UmS:hover{
      background: rgba(var(--rgb),.1)!important;
  }
  .quickSelectPopoutOption-2E2UmS:focus{
      background: none;
  }
  .theme-dark .lookFilled-1GseHa.select-1Ia3hD,
  .theme-dark .popout-1KHNAq{
      background: var(--main-black);
  }
  .theme-dark .option-2eIyOn[aria-selected=true]{
      background: var(--secondary-black);
  }
  .popout-1KHNAq{
      border:1px solid rgba(var(--rgb),1);
  }
  .option-2eIyOn:hover{
      background: rgba(var(--rgb),.1);
  }
  .peopleListItem-u6dGxF:hover{
      background: rgba(var(--rgb),.1);
  }
  .actionButton-3-B2x-{
      background: rgba(var(--rgb),1)!important;
      color:white;
  }
  .actionButton-3-B2x-:hover{
      background: rgba(var(--rgb),.7)!important;
  }
  .theme-dark .outer-2JOHae{
      background: var(--third-black);
  }
  .theme-dark .inset-SbsSFp{
      background: var(--main-black);
  }
  .outer-2JOHae:hover{
      background: rgba(var(--rgb),.1)!important;
  }
  .theme-dark .container-2oNtJn,
  .theme-dark .searchBar-3TnChZ .searchBarComponent-3N7dCG{
      background: var(--secondary-black);
  }
  .ctaBar-2UsjF2{
      background: var(--third-black);
  }
  .theme-dark .perk-2WeBWW{
      background: var(--third-black);
  }
  .theme-dark .tierBody-16Chc9{
      background: var(--third-black);
  }
  .floating-window-titlebar{
      background: var(--secondary-black);
  }
  .floating-window #bd-editor-controls{
      background: var(--third-black);
  }
  .theme-dark .settingCard-xZSDjS{
      background: var(--third-black);
  }
  .theme-dark .header-3i_Csh{
      background: var(--secondary-black);
  }
  .row-1Ib2uD.selected-1IWCoj .rowInner-3uonq8{
      background: rgba(var(--rgb),.1);
  }
  .colorable-3rVGna.primaryDark-2UJt1G.active-3D763s{
      background: rgba(var(--rgb),.2);
  }
  .theme-dark .colorHeaderPrimary-jN_yGr,
  .theme-dark .colorHeaderSecondary-g5teka,
  .theme-dark .colorStandard-21JIj7,
  .theme-dark .close-1mLglB,
  .theme-dark .footer-31IekZ{
      color:white;
  }
  .focused-q9B2e4:after,
  .result-3OpoO7:hover:after{
      -webkit-box-shadow:inset 0 0 0 2px rgba(var(--rgb),1),inset 0 0 0 3px #2f3136!important;
      box-shadow:inset 0 0 0 2px rgba(var(--rgb),1),inset 0 0 0 3px #2f3136!important;
  }
  .categoryFadeBlurple-1HuV1x{
      background: rgba(var(--rgb),.6)!important;
  }
  .theme-dark .bd-emote-header{
      background: var(--secondary-black);
  }
  .bd-emote-item:hover,
  .emojiItem-277VFM.emojiItemSelected-2Lg50V{
      background: rgba(var(--rgb),.3);
  }
  .categoryItemDefaultCategorySelected-2YeRUu, 
  .categoryItemDefaultCategorySelected-2YeRUu:hover,
  .categoryItemDefaultCategory-3haEDq:hover{
      background-color: rgba(var(--rgb),.3)!important;
  }
  .guildIconWithoutImage-3bOll3{
      background: rgba(var(--rgb),1);
      color:white!important;
  }
  .button-12Fmur:hover{
      background:rgba(var(--rgb),.3)!important;
  }
  .popoutRoleDot-2_Nt5g,
  .roleDot-2gCDg5{
      width:18px;
      height:18px;
      border:none;
  }
  .thin-31rlnD::-webkit-scrollbar-thumb{
      background: rgba(var(--rgb),.5);
  }
  .friendSelected-3cwmD7{
      background: rgba(var(--rgb),.3);
  }
  .headerTier2-VgDkDg{
      border-top-left-radius: 15px!important;
      border-top-right-radius: 15px!important;
  }
  .contentWrapper-pgACZr{
      border-bottom-left-radius: 15px!important;
      border-bottom-right-radius: 15px!important;
  }
  .theme-dark .table-17_dGF{
      background: var(--third-black);
  }
  .button-3Vyz67{
      background: rgba(var(--rgb),1);
  }
  .theme-dark .container-lqPArA{
      background: var(--main-black);
  }
  .buttonContainer-1QM2ob{
      background: rgba(var(--rgb),1);
      color:white;
  }
  .buttonContainer-1QM2ob:hover{
      background: rgba(var(--rgb),.7);
  }
  .theme-dark .card-PQEqCK{
      background: var(--third-black);
  }
  .theme-dark .emptyCard-KDifrB{
      background: var(--third-black);
  }
  .theme-dark .addInputWrapper-1BOZ3d{
      background: var(--main-black);
  }
  .scroller-35tvpe,
  .auto-1QyTTa::-webkit-scrollbar-track,
  .participants-3hk3ND,
  .rowContainer-jDvyA4,
  .container-3r7mfc{
      background:var(--secondary-black)!important;
  }
  .auto-1QyTTa::-webkit-scrollbar-track{
      border-color:var(--secondary-black)!important;
  }
  .theme-dark .upsellFooter-1H_OCF{
      background: var(--third-black);
  }
  .theme-dark .iconWrapper-2_MXbk{
      background: rgba(var(--rgb),1);
  }
  .icon-2TbMdT{
      color:white;
  }
  .header-1F6gxU{
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
  }
  .passthrough--fbdFR.selected-3jieYB{
      background: var(--secondary-black);
  }
  .bd-select .bd-select-options{
      background: var(--third-black);
  }
  .bd-select .bd-select-option.selected {
      background: rgba(0,0,0,.5);
  }
  .bd-select .bd-select-option:hover{
      background: rgba(0,0,0,.5);
  }
  .bd-search-wrapper{
      background: var(--secondary-black);
  }
  .theme-dark .colorPickerCustom-1swUKF{
      background: var(--third-black);
      border-color:rgba(var(--rgb),1);
  }
  .theme-dark .input-2g-os5{
      background: var(--secondary-black);
  }
  .theme-dark .card-2TuZPZ, .theme-dark .iconMask-2fMR98{
      background-color: var(--third-black)!important;
  }
  .categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb,
  .search-25t1e9 .searchBox-31Zv9h{
      background: rgba(var(--rgb),1);
  }
  .search-25t1e9 .searchBox-31Zv9h .searchIcon-3X4BYL{
      color:white;
  }
  .search-25t1e9 .searchBox-31Zv9h:focus, .search-25t1e9 .searchBox-31Zv9h:focus-within{
      -webkit-box-shadow:0 0 0 1px black, 0 0 0 2px rgba(var(--rgb),1), 0 0 0 3px rgba(var(--rgb),1)!important;
      box-shadow: 0 0 0 1px black, 0 0 0 2px rgba(var(--rgb),1), 0 0 0 3px rgba(var(--rgb),1)!important;
  }
  .search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz{
      color:white;
  }
  .search-25t1e9 .searchBox-31Zv9h .closeIcon-BMGxx0{
      color:white;
  }
  .size12-oc4dx4.colorMuted-20987_ {
      color:white;
  }
  .theme-dark .addGamePopout-3yePJc{
      background: var(--third-black);
  }
  .theme-dark .gameNameInput-3TuPuA:focus, .theme-dark .gameNameInput-3TuPuA:hover{
      background: var(--secondary-black);
  }
  .theme-dark .card-1SdQ2-,
  .theme-dark .selectorButton-3sW6Qm,
  .theme-dark .tile-2TcwiO,
  .theme-dark .bd-server-card{
      background: var(--third-black);
  }
  .button-3Vyz67:hover{
      background: rgba(var(--rgb),.7);
  }
  .theme-dark .bd-server-card:hover{
      background-color: var(--secondary-black);
  }
  .bd-pagination button:hover, .bd-pagination button:active{
      background-color: rgba(var(--rgb),.3);
  }
  .acronym-2zrAHN{
      background: var(--secondary-black)!important;
  }
  .circleIconButton-1QV--U{
      background: var(--secondary-black);
      color:white;
  }
  .theme-dark .scroller-2XLwLg,
  .theme-dark .scroller-1TOeMq,
  .scroller-s-wehS{
      background: var(--main-black);
  }
  .theme-dark .header-2EadGG{
      background: var(--third-black);
  }
  .theme-dark .lookFilled-yCfaCM.hoverGreen-1KfT6K.hasHover-26V98q:hover, 
  .theme-light .lookFilled-yCfaCM.hoverGreen-1KfT6K.hasHover-26V98q:hover,
  .theme-dark .lookFilled-yCfaCM.hoverGreen-1KfT6K.hasHover-26V98q:active, 
  .theme-light .lookFilled-yCfaCM.hoverGreen-1KfT6K.hasHover-26V98q:active,
  .lookFilled-yCfaCM.colorGreen-3y-Z79{
      background-color: rgba(var(--rgb),1)!important;
  }
  .wrapper-QQNZRu circle{
      stroke:rgba(var(--rgb),1);
  }
  .theme-dark .root-3mkK8X,
  .theme-dark .bodySection-3iDdop, 
  .theme-light .bodySection-3iDdop{
      background: var(--secondary-black);
  }
  .theme-dark .entitledHeader-3TLJwI, 
  .theme-light .entitledHeader-3TLJwI,
  .theme-dark .row-2qQ--F{
      background: var(--third-black);
  }
  .theme-dark .price-1BMuA2, .theme-light .price-1BMuA2{
      background: rgba(var(--rgb),.2);
  }
  .notice-12Koq-{
      background: rgba(var(--rgb),1);
  }
  .rowWrapperActive-nOO7R3{
      background-color: rgba(var(--rgb),.2);
  }
  .textCell-sKsLUQ{
      color:white;
  }
  .theme-dark .message-G6O-Wv{
      background-color: var(--main-black);
  }
  .theme-dark .guildSection-2Zyzy8{
      background: var(--third-black);
  }
  .theme-dark .emojiSection-3QtaWO{
      background: var(--secondary-black);
  }
  .theme-dark .option-2KkUJO.selected-rZcOL-{
      background: rgba(var(--rgb),.2);
  }
  .theme-dark .calendarPicker-sDhzdi .react-datepicker,
  .theme-dark .calendarPicker-sDhzdi .react-datepicker__header{
      background: var(--third-black);
  }
  .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled, 
  .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover,
  .theme-dark .calendarPicker-sDhzdi .react-datepicker__day--disabled, 
  .theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month{
      background: var(--secondary-black);
  }
  .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:after,
  .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:hover, 
  .theme-dark .calendarPicker-sDhzdi .react-datepicker__day:hover,
  .theme-dark .datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY{
      background: rgba(var(--rgb),1);
  }
  .theme-dark .datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY:hover{
      background: rgba(var(--rgb),.8);
  }
  .theme-dark .path3-3tVOpU,
  .theme-dark .path2-F-M5gP,
  .theme-dark .path-lhsLSV{
      stroke: rgba(var(--rgb),1)!important;
  }
  .theme-dark .streamPreview-3qoMP4{
      background: var(--third-black);
  }
  .theme-dark .previewContainer-21fFBz,
  .container-8Futzw{
      background: var(--secondary-black);
  }
  .theme-dark .searchHeader-1r_ZSh,
  .theme-dark .icon-2yhmi8{
      background: var(--secondary-black);
  }
  .button-cfOvv-{
      background: rgba(var(--rgb),1);
  }
  .videoWrapper-3rtb_V{
      background: var(--third-black);
  }
  .participantsButton-1WBdFP{
      background: var(--third-black);
  }
  .theme-dark .focused-2FU0YH{
      background: var(--secondary-black);
  }
  .theme-dark .dim-2Uxgxb span{
      background: rgba(var(--rgb),1);
      color:white;
  }
  .theme-dark .keybindShortcut-3zF1P9 span{
      -webkit-box-shadow: inset 0 -4px 0 rgba(0,0,0,.5);
      box-shadow: inset 0 -4px 0 rgba(0,0,0,.5);
  }
  .folder-1hbNCn{
      background-color: var(--secondary-black)!important;
  }
  .dragInner-Oq_toX{
      background: rgba(var(--rgb),.7);
  }
  .optionContainer-yOpaLq,
  .wrapper-2SplAX{
      background: var(--third-black);
  }
  .mulitplePlaceholderUsername-2T3DCI,
  .placeholderAvatar-1qAcRZ, 
  .placeholderUsername-3iQi_D,
  .memberGroupsPlaceholder-9tqX9V{
      background: var(--secondary-black);
  }
  .wrapper-3HVHpV{
    background: var(--main-black);
  }
  .attachment-16cAbS, .avatar-l9Txm5, .blob-1uHjdp{
    background-color: var(--secondary-black);
  }
  .wrapper-15CKyy{
    background: var(--main-black);
  }
  .theme-dark .contentWrapper-3oy4Xo,
  .theme-dark .guildSidebar-UHnQqs{
    background: var(--third-black);
  }
  .theme-dark .modal-2TOYtq{
    background: var(--main-black);
  }
  .theme-dark .partyMemberEmpty-GtlQ_s{
      background: rgba(var(--rgb),.3);
  }
  .theme-dark .moreUsers-3PdGZN{
      background-color: rgba(var(--rgb),.3);
      color:white;
  }
  .theme-dark .withFrame-2dL45i{
      border-top:4px solid var(--third-black);
  }
  .theme-dark .feature-2IUcBI{
      background: var(--third-black);
  }
  .resultFocused-3aIoYe{
      background: rgba(var(--rgb),.2);
  }
  .theme-dark .input-3r5zZY{
      background: var(--secondary-black);
  }
  .akaBadge-3i7V3p{
      background-color: rgba(var(--rgb),1);
      color:white;
  }
  .bd-placeholder-card{
      background: var(--third-black);
  }
  .bd-server-icon{
      background: var(--secondary-black)!important;
  }
  .bd-server-icon,
  .bd-server-card:hover .bd-server-icon{
      border: 4px solid var(--secondary-black);
  }
  .theme-dark .emptyPreview-1SMLD4{
      background: var(--third-black);
  }
  .friendSelected-3cwmD7{
      background-color: rgba(var(--rgb),.2);
  }
  .theme-dark .container-1SX9VC{
      background: var(--secondary-black);
  }
  .theme-dark .imageLoading-2uloYN{
      background-image: none;
      background: var(--secondary-black);
      border-radius: 10px;
  }
  .theme-dark .wrapper-22rqw6{
      background:var(--third-black);
  }
  .theme-dark .placeholder-2Mfkde{
      background:var(--secondary-black);
  }
  .colorable-3rVGna.primaryDark-2UJt1G.active-3D763s:hover{
      background: rgba(var(--rgb),.5);
  }
  .theme-dark .applicationStreamingPreviewWrapper-7j27t8{
      background-color: var(--secondary-black);
  }
  .avatarSpeaking-33RRJU{
      -webkit-box-shadow:inset 0 0 0 2px rgba(var(--rgb),1),inset 0 0 0 3px var(--background-secondary);
      box-shadow:inset 0 0 0 2px rgba(var(--rgb),1),inset 0 0 0 3px var(--background-secondary);
      border-radius:50%
  }
  .categoryPill-1zjNrr.selected-bLcqYK{
      background-color: rgba(var(--rgb),1);
  }
  .categoryPill-1zjNrr:hover:not(.selected-bLcqYK){
      background-color: rgba(var(--rgb),.2);
  }
  .searchPage-3tt6dh .search-25t1e9 .searchBox-31Zv9h:focus, 
  .searchPage-3tt6dh .search-25t1e9 .searchBox-31Zv9h:focus-within{
      border:none;
  }
  .searchPage-3tt6dh .search-25t1e9 .searchBox-31Zv9h{
      background-color: rgba(var(--rgb),1);
  }
  .searchPage-3tt6dh .search-25t1e9 .searchBox-31Zv9h .closeIcon-BMGxx0{
      color:white;
  }
  .theme-dark .css-12hk9yc-control,
  .theme-dark .css-1adxh11-control,
  .theme-dark .css-ix84ef-menu{
      background-color: var(--third-black);
  }
  .theme-dark .placeholder-2erB-x{
      background: var(--secondary-black);
  }
  .searchPage-3tt6dh .search-25t1e9 .searchBox-31Zv9h .closeIcon-BMGxx0,
  .search-25t1e9 .searchBox-31Zv9h .searchIcon-3X4BYL{
      margin-left: 6px;
  }
  .cta-25g9OT{
      margin-right: 0px!important;
      margin-left:6px!important;
  }
  .theme-light .footer-31IekZ {
      -webkit-box-shadow: none!important;
      box-shadow: none!important;
  }
  .cta-3-AFNF{
      background-color: rgba(var(--rgb),.3);
  }
  .cta-3-AFNF:hover{
      background-color: rgba(var(--rgb),.5);
  }
  .theme-dark .scroller-3b1p7z{
      background-color: var(--third-black);
  }
  .theme-dark .memberListItem-3V-x8Q:not(.popoutDisabled-PP2QdB):hover,
  .clickable-vvKY2q .header-3OsQeK:hover, 
  .selected-1GtAC5 .header-3OsQeK,
  .theme-dark .inviteRow-3vmB7i:hover{
      background-color: rgba(var(--rgb),.3);
  }
  .footerTitle-3Bslxi,
  .title-1_TkpU{
      color:white!important;
  }
  /* spotify Profile */
  .userPopout-3XzG_A .headerSpotify-zpWxgT .barInner-3dHef4{
      height:100px!important;
      background-color: rgba(var(--rgb),1);
  }
  .userPopout-3XzG_A .headerSpotify-zpWxgT .bar-1GpknY{
      height:100px!important;
      padding:0!important;
      background-color: rgba(var(--rgb),.5);
  }
  .userPopout-3XzG_A .headerSpotify-zpWxgT .timeBarUserPopout-qLXZaR{
      top:-100px!important;
      padding:0!important;
      margin:0!important;
  }
  
  .userPopout-3XzG_A .headerSpotify-zpWxgT .bodyNormal-250CQK{
      position:absolute!important;
      padding:5px;
      max-width:240px;
  }
  .userPopout-3XzG_A .headerSpotify-zpWxgT .activity-11LB_k{
      position: relative;
      padding:0!important;
  }
  .userPopout-3XzG_A .headerSpotify-zpWxgT .textLeft-1Noen0, .userPopout-3XzG_A .textRight-2IW704{
      position:absolute;
      top:110px;
      margin-left:2px;
      margin-right:2px;
      padding:5px;
  }
  .userPopout-3XzG_A .headerSpotify-zpWxgT .textRight-2IW704{
      left:215px;
  }
  .userPopout-3XzG_A .headerSpotify-zpWxgT .activityUserPopout-2MzGCj .headerText-3g1XK9{
      margin-left: 30%;
      padding-top: 10px;
  }
  .userPopout-3XzG_A .headerSpotify-zpWxgT{
      background-color: var(--main-black);
  }
  .userPopout-3XzG_A .buttonsWrapper-2ARRp1{
      padding:5px!important;
      margin:0!important;
  }
  .userPopout-3XzG_A .headerSpotify-zpWxgT .contentImagesUserPopout-Kqai8z{
      overflow:hidden;
  }
  .section-3G9aLW{
      background-color: var(--secondary-black)!important;
  }
  .container-1oAagU{
      background-color: var(--main-black)!important;
  }
  .headerTop-3C2Zn0 {
      min-height: 250px;
      padding: 0;
  }
  .headerTop-3C2Zn0 .avatarWrapper-3H_478 {
      left: 0;
      bottom: 0;
      width: 250px;
  }
  .headerTop-3C2Zn0 .avatarWrapper-3H_478 .wrapper-1VLyxH {
      height: 250px !important;
      width: 250px !important;
  }
  .avatarHint-1qgaV3 {
      width: 250px!important;
      height: 250px!important;
      border-radius: 0;
  }
  .avatarHintInner-Dco91E {
      font-size: 0.4em;
      text-shadow: 1px 1px 3px black;
  }
  .headerTop-3C2Zn0 foreignObject {
      mask: none !important;
  }
  .headerText-2sdzFM {
      padding-bottom: 5px;
  }
  .date-YN6TCS + .customStatus-1bh2V9 {
      margin-top: 13px!important;
  }
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .bar-1GpknY{
    height:130px!important;
    width:600px!important;
    background-color: rgba(var(--rgb),.5)!important;
  }
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .barInner-3dHef4{
    height:130px!important;
    background-color: rgba(var(--rgb),1);
  }
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .nameNormal-2fPMD2{
    position: absolute;
    left:110px;
    top:40px;
  }
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .detailsWrap-omKn0b{
    position: absolute;
    left:110px;
    top:55px;
  }
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .state-2NT76I{
    position: absolute;
    left:110px;
    top:70px;
  }
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .headerTextNormal-Z8we9g {
    display:none;
  }
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .activityHeader-1PExlk{
    padding-top:10px;
    margin-left:20px;
    color:var(--header-secondary);
  }
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .customStatusText-39gdCI{
    margin-bottom:10px;
    margin-left:20px;
    color:var(--header-secondary);
  }
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .textLeft-1Noen0, 
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .textRight-2IW704{
    top:125px;
    position:absolute;
    left:15px;
  }
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .textRight-2IW704{
    left:560px;
  }
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .headerFill-adLl4x{
    position:relative;
  }
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .buttonsWrapper-2ARRp1{
    position:absolute;
    left:365px;
    top:49px;
  }
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .bodyAlignCenter-3E27PU,.inner-1ilYF7 .bodyNormal-250CQK{
    position:relative;
    top:-10px;
  }
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .assets-3PQvAh{
    position:absolute;
    padding:10px;
    top:10px;
  }
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .contentImagesProfile-27BIzt{
    margin:0;
    
  }
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .activity-1ythUs{
    padding:0;
  }
  .headerFill-adLl4x{
      background-color: var(--main-black);
  }
  .header-QKLPzZ foreignObject {mask: none !important;}
  
  .header-QKLPzZ{
      padding:0;
  }
  .avatar-3EQepX{
      height:200px!important;
      width:200px!important;
  }
  .topSectionSpotify-1lI0-P{
      background: var(--third-black);
  }
  .headerTop-3C2Zn0 rect,
  .header-QKLPzZ rect {
      border-radius: 0;
      x: 0; y: 79;
      width: 80px;
      height: 3px;
      mask: none;
  }
  .tabBarItem-1b8RUP{
      width:160px!important;
  }
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .detailsWrap-omKn0b,
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .nameNormal-2fPMD2,
  .inner-1ilYF7 .topSectionSpotify-1lI0-P .state-2NT76I {
      width:220px!important;
      overflow:hidden!important;
      text-overflow: ellipsis!important;
      white-space: nowrap!important;
  }
  .toolsContainer-25FL6V{
      position:absolute;
      left:90%;
  }