@import url(https://pandacatplayz.github.io/EclipseUltimate/theme.css);
:root {
   --rgb: 228, 59, 68; /* Main color */
   --main-black: #1C2120;
   --secondary-black: #111411;
   --third-black: #171b19;
   --fourth-black: #1a1f1d;
}