/**
 * @name EclipseUltimate
 * @author PandaCatPlayz
 * @description Ultimate Dark Theme Based On Next's Eclipse Simple Dark Theme, But With Some Fun Twists
 * @version 0.1
 * @authorId 496816561244471347
 */

@import url(https://pandacatplayz.github.io/EclipseUltimate/theme.css);
@import url(https://pandacatplayz.github.io/EclipseUltimate/usrbg.css);

:root {
   /* Main color */
   --rgb: 228, 59, 68;

   /* Background Colors */
   --main-black: #1C2120;
   --secondary-black: #111411;
   --third-black: #171b19;
   --fourth-black: #1a1f1d;

   /* Link Color */
   --link-color: #ffffff;

   /* Test Value */
   --test-value: 230px;
}